* {
    box-sizing: border-box;
}

body {
    color: green;
    background: #f6f7f7;
    margin-top: 15%;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    min-height: 10%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    color: green;
    width: 80%;
    margin: 40px auto;

}

button {
    color: white
}
